<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <link rel="shortcut icon" src="favicon.ico">
    <title>Lunch Checker</title>
  </head>
<body ng-app="assignment1App">
   <div class="container" ng-controller="lunchCheckerController">
     <h1>Lunch Checker</h1>

         <div class="form-group" style="border: 2px solid {{borderColor}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="items">
         </div>
         <div class="form-group message" style='color:#AAA;'>
          {{warningMessage}}
        </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkItems()">Check If Too Much</button>
         </div>
         <div class="form-group message" style="color: {{fontColor}}">
           {{resultMessage}}
         </div>
   </div>

</body>
</html>
